body {
  max-width: 1920px;
  background-color: #f9f9f9;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  padding: 0px;
  justify-content: space-around;
}

h1 {
  padding: 6.250rem 0em 6.250rem 0rem;
  width: 100%;
  margin: auto;
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.image {
  display: flex;
  width: 263px;
  height: 210px;
  background-color: #ffffff;
  justify-content: center;
  margin-bottom: 25px;
}

li {
  list-style-type: none;
}


.name {
  display: block;
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 25px;
}

.price {
  display: block;
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 700;
margin-bottom: 25px;
}

.buy button {
  display: inline-block;
  border: 1px solid #23bac1;

}

.buy {
  padding: 1.438rem 4.625rem 1.438rem 4.625rem;
  color: #23bac1;
  font-family: "Proxima Nova";
  font-size: 13px;
  font-weight: ;
  text-transform: uppercase;
  justify-content: center;
  margin: auto;
}