body {
  background-color: rgb(139, 139, 139);
}
.container {
  width: 1010px;
  background-color: #fff;
  margin: auto;
  padding: 50px;
}
.image {
  display: inline-block;
  vertical-align: top;
}
.name{
  font-size: 18px;
  font-weight: bold;
}
.description-table {
  width: 408px;
  display: inline-block;
  vertical-align: top;
}
.description {
 
  font-size: 16px;
}
.price {
  
  font-size: 12px;
}
.price-tag {
  
  font-size: 25px;
}
.into-the-basket {
  padding-top: 1.25px;
  background-color: rgb(236, 16, 34);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 16px;
}
