body {
  display: flex;
  min-width: 1366px;
  background-color: #ffffff;
}

img {}

.name {
  width: 484px;
  height: 45px;
  color: #000000;
  font-family: Tahoma;
  font-size: 48px;
  font-weight: 700;
}

.author {
  width: 306px;
  height: 28px;
  color: #000000;
  font-family: Tahoma;
  font-size: 30px;
  font-weight: 400;
}

.description {
  width: 526px;
  height: 99px;
  color: #000000;
  font-family: Tahoma;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.price {
  width: 128px;
  height: 46px;
  color: #313131;
  font-family: Tahoma;
  font-size: 48px;
  font-weight: 400;
  line-height: 27px;
}

.buy {
  width: 87px;
  height: 23px;
  color: #ffffff;
  font-family: Tahoma;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
}

.more {
  width: 227px;
  height: 24px;
  color: #f05a22;
  font-family: Tahoma;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
}