body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
}

figure {
  padding: 4.688rem;
}

img {
  max-width: 404px;
  padding: 0.125rem 0rem 1.313rem 3.000rem;
}

.container {
  display: flex;
}

.information {
  display: flex;
  flex-direction: column;
  padding-right: 14.875rem;

}
h2 {
  margin: 0px;
}
.name {

  padding-top: 137px;
  color: #000000;
  font-family: Tahoma;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0.938rem;
  ;
}

.about {
  padding-bottom: 20px;
  color: #000000;
  font-family: Tahoma;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0.938rem;
}

.description {
  max-width: 526px;
  padding-bottom: 32px;
  color: #000000;
  font-family: Tahoma;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 0.938rem;
}

.price {
  padding-bottom: 60px;
  color: #313131;
  font-family: Tahoma;
  font-size: 48px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 0.938rem;
}

.buttons {
  display: flex;
}

.buy {
  padding: 1.375rem 2.625rem 1.375rem 2.875rem;
  margin-right: 2.5em;
  border-radius: 5px;
  background-color: #f05a22;
  color: #ffffff;
  font-family: Tahoma;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
}

.more {
  padding: 1.375rem 1.875em 1.375rem 1.875em;
  border-radius: 5px;
  border: 2px solid #f05a22;
  background-color: #ffffff;
  color: #f05a22;
  font-family: Tahoma;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
}