body {
  background-color: rgb(139, 139, 139);
}
.container {
  padding-top: 50px;
  width: 1010px;
  background-color: #fff;
  margin: auto;
  padding: 50px;
}
.image {
  display: inline-block;
  vertical-align: top;
}
.description-table {
  padding-left: 80px;
  width: 408px;
  width: 46%;
  display: inline-block;
  vertical-align: top;
}
.name{
  margin-bottom: 20px;
  font-size: 18px;
}
.description {
  margin-bottom: 60px;
  font-size: 18px;
}
.price {
  margin-bottom: 30px;
  font-size: 12px;
}
.price-tag {
  margin-bottom: 40px;
  font-size: 25px;
}
.into-the-basket {
  padding: 20px 50px 20px 50px;
  background-color: #ec744a;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 16px;
}
