body{
  background-color: #cc1717;
}/*
.outer-wrapper {
  display: table;
}
.conteiner {
  display: table-cell;
  position: relative;
  overflow: hidden;
  max-width: 1010px;
  width: 100%;
  margin: auto;
  
  background-color: rgb(43, 255, 0);
}
.image {
  display: inline-block;
  float: left;
  padding-left: 3.26%;
  padding-top: 4.44%;
  padding-bottom: 4.44%; 
  max-width: 376px;
  width: 37.228%;
}
img {
  max-width: 100%;
}
aside {
  display: inline-block;
  padding-top: 6.521%;
  padding-left: 10%;
  float: left;
  max-width: 408px;
  width: 40.316%;
}
.name {
  font-size: 1.125em;
  font-weight: bold;
}

.description {
  padding-top: 6.16%;
  padding-bottom: 6.66%;
  height: 17.3%;
  font-size: 1em;
}

.price {
  padding-top: 10%;
  padding-bottom: 5%;
  font-size: 0.75em;
}

.price-tag {
  padding-bottom: 1.55em;
  font-size: 1.6em;
}

.into-the-basket {
  
  display: inline-block;
  background-color: rgb(236, 16, 34);
  color: rgb(255, 255, 255);
  width: 61.76%;
  max-height: 50px;
  text-align: center;
  font-size: 1em;
}*/
