body {
  
}
.why-now {
  padding: 70px;
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  
}

.signature {
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  
}
