body {
  background-image: url("/src/img/fon3.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100px;
  height: 50px;
}

section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1140px;

}