* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  width: 96%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #95989a;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}