* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.hero {
  padding-top: 74px;
  padding-bottom: 155px;
}

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  width: 96%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #95989a;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
 .social a {
   text-decoration: none;
   padding: 20px;

 }
 .main {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .main-text {
   width: 50%;
 }
 .subtitul {
  color: #32325f;
  font-size: 20px;
  font-weight: 400;
 }
 .titul {
  color: #32325f;
  font-size: 48px;
  font-weight: 700;
 }
 .description {
  color: #32325f;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
 }
 .price-tag {
  color: #32325f;
  font-size: 20px;
  font-weight: 400;
 }
 .price {
  color: #525f7f;
  font-size: 48px;
  font-weight: 400;
 }
 .buttons {
  
 }
 .btn1 {
color: #ffffff;
  font-size: 20px;
  font-weight: 700;
 }
 .btn2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
 }