* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  
}

.hero {
  padding-top: 74px;
  padding-bottom: 155px;
  background-color: #f4f5f7;

}

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  width: 96%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 159px;
}

.logo {
  color: #95989a;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.social a {
  padding: 20px;

}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-text {
  display: flex;
  flex-direction: column;
  width: 50%;

}

.subtitle {
  display: block;
  color: #32325f;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.title {
  display: block;
  color: #32325f;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 26px;
}

.description {
  color: #32325f;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}

.price-tag {
  display: block;
  color: #32325f;
  font-size: 20px;
  font-weight: 400;

}

.price {
  display: block;
  color: #525f7f;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 3px 6px rgba(173, 173, 173, 0.16);
  border-radius: 6px;
}

.btn {
  box-shadow: 0 3px 6px rgba(173, 173, 173, 0.16);
  border-radius: 6px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 30px 20px 30px;
  background-color: grey;
}

.buy {
  background-color: #2dce89;
}

.hear {
  background-color: #5e72e4;
  padding: 20px 35px 20px 35px;
  margin-right: 61px;
}

.footer {
  background-color: #32325f;
}

.about, .people {
  padding-top: 78px;
  padding-bottom: 104px;
}

.footer-heading {
 
}
.footer-heading {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 35px;
  
}

.data {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}
.box {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box-features li {
  width: 23%;
  margin-right: 2%;
}
.box-people {
  /* justify-content: flex-start; */
}
.photos {
  margin-bottom: 20px;
  margin-right: 20px;
}
.photos:last-child {
  margin-right: 0;
}
.photos:nth-child(3n) {
  margin: 0;
}
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}