.emphasized { 
  text-decoration: underline;
}
.bold { 
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.header {
  text-align: center;
}
.deleted {
  text-decoration: line-through;
}
.main-image {
  width: 100%;
}
.image {
  width: 50%;
  margin-left: 25%;
}
html{
  background-image: url("../img/main-bgi.jpg"); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.tableOfContents {
  overflow: hidden;
  right: 1%;
  top: 1%;
  position: fixed;
  margin: 2;
  background-color:  rgba(179, 127, 214, 0.216);
  width: 30%;
}
.content {
  padding-left: 10%;
  padding-right: 0;
  font-size: 1px;
}
.tableOfContents .content {
  transform: matrix(-10, 0, 0, -10, 0, 0)
}
.tableOfContents .content:hover {
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: transform 200ms;
  font-size: 14px;
}
h1 {
  color: rgba(179, 127, 214, 1)
}
h2 {
  color: rgba(148, 58, 207, 0.51)
}
p {
  color: rgba(1, 5, 59, 0.9)
}