.emphasized { 
  text-decoration: underline;
}
.bold { 
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.header {
  text-align: center;
}
.deleted {
  text-decoration: line-through;
}
.main-image {
  width: 100%;
}
.image {
  width: 50%;
  margin-left: 25%;
}
html{
  background-image: url("../img/main-bgi.jpg"); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.tableOfContents {
  right: 1%;
  top: 1%;
  position: fixed;
  margin: 2;
  background-color:  rgba(127, 154, 214, 0.216);
  width: 22%;
}
.tableOfContents:hover {
  background-color: rgba(203, 240, 229, 0.88);
}
.content {
  padding-left: 10%;
  padding-right: 0;
  font-size: 25;
}
li {
  list-style: none;
}
a{
  color: rgba(17, 85, 85, 0.31)
}
a:visited {
  color: rgba(1, 5, 59, 0.7);
}
a:active {
  color: rgba(1, 5, 59, 0.7);
} 
a:hover {
  color: rgba(1, 5, 59, 0.7);
}
h1 {
  color: rgba(179, 127, 214, 1)
}
h2 {
  color: rgba(148, 58, 207, 0.51)
}
p {
  color: rgba(1, 5, 59, 0.9)
}